@model List<string>

<h2>Yüklenen Dosyalar</h2>

<table>
    <thead>
        <tr>
            <th>Dosya Adı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var file in Model)
        {
            <tr>
                <td>@file</td>
                <td>
                    <a asp-controller="Excel" asp-action="ViewFile" asp-route-fileName="@file">Dosyayı Görüntüle</a>
                </td>
            </tr>
        }
    </tbody>
</table>
