@model string

<!DOCTYPE html>
<html>
<head>
    <title>Hata</title>
</head>
<body>
    <h1>Bir hata oluştu:</h1>
    <p>@Model</p>
    <a href="@Url.Action("ListFiles", "Excel")">Geri Dön</a>
</body>
</html>
